name: Publish to npm

on:
  # workflow_dispatch:
  push:
    tags:
      - "*"

permissions:
  id-token: write  # Required for OIDC
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    timeout-minutes: 30

    steps:
      # sometime, when 2 or more consecutive PRs merged, the checkout wind-press/windpress is overlapped
      # and reverting other commit change
      # this should not happen on create a tag, so wait first
      - name: "Wait before checkout on create a tag"
        if: "startsWith(github.ref, 'refs/tags/')"
        run: sleep 20

      - uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '24'
          registry-url: 'https://registry.npmjs.org'

      - name: Install pnpm
        uses: pnpm/action-setup@v4

      - name: Setup Rust
        uses: dtolnay/rust-toolchain@stable
        with:
          toolchain: stable

      - name: Install wasm-pack
        run: curl https://rustwasm.github.io/wasm-pack/installer/init.sh -sSf | sh

      - name: Get pnpm store directory
        shell: bash
        run: |
          echo "STORE_PATH=$(pnpm store path --silent)" >> $GITHUB_ENV

      - name: Setup pnpm cache
        uses: actions/cache@v4
        with:
          path: ${{ env.STORE_PATH }}
          key: ${{ runner.os }}-pnpm-store-${{ hashFiles('**/pnpm-lock.yaml') }}
          restore-keys: |
            ${{ runner.os }}-pnpm-store-

      - name: Cache Rust dependencies
        uses: actions/cache@v4
        with:
          path: |
            ~/.cargo/bin/
            ~/.cargo/registry/index/
            ~/.cargo/registry/cache/
            ~/.cargo/git/db/
            target/
          key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}
          restore-keys: |
            ${{ runner.os }}-cargo-

      - name: Install dependencies
        run: pnpm install

      - name: Build WASM
        run: pnpm run build:wasm

      - name: Build TypeScript
        run: pnpm run build:ts

      - name: Copy WASM files
        run: pnpm run copy-wasm

      - name: Publish to NPM with OIDC
        run: pnpm publish --access public --no-git-checks

      - name: Publish package to pkg.pr.new
        run: npx pkg-pr-new publish
